@import url("https://cdn.syncfusion.com/ej2/material.css");

.nav-item,
.navbar {
  z-index: 100000;
}
.sidebar {
  z-index: 10000000;
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}
